.main, .footer {
	width: 100%;
	padding: 4rem 2rem;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.main {
	margin: 6rem auto;
	min-height: 100vh;
	overflow: hidden;

	.content {
		max-width: 480px;
	}
}
.main--single,
.main--page {
	.content {
		max-width: 800px;
	}
}

.post {
	clear: both;
	margin-bottom: 8rem;
}

.column {
	@include clear;
	margin: 2rem 0;
}
.column--2 {
	@extend .column;
	@include pfx(columns, 2);
	@media (max-width: 480px) {
		@include pfx(columns, 1)
	}
}

.column--3 {
	@extend .column;
	@include pfx(columns, 3);
}

.align-center {
	text-align: center;
	padding: 0 10%;
}

.align-right {
	text-align: right;
}