.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.main {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer {
	width: 100%;
	padding: 4rem 2rem;
}

.main {
	margin: 6rem auto;
	min-height: 100vh;
	overflow: hidden;

	.content {
		padding: 0;
	}
}

.main--single {
	.content {
		max-width: 800px;
		padding: 0 1rem;
	}
}

.main--page {
	.content {
		max-width: 480px;
		padding: 0 1rem;
	}
}

.post {
	margin-bottom: 8rem;
	width: 240px;
	padding: 0 1rem;
}

.column {
	@include clear;
	margin: 2rem 0;
}

.column--2 {
	@extend .column;
	@include pfx(columns, 2);
	@media (max-width: 480px) {
		@include pfx(columns, 1)
	}
}

.column--3 {
	@extend .column;
	@include pfx(columns, 3);
}

.align-center {
	text-align: center;
	padding: 0 10%;
}

.align-right {
	text-align: right;
}