html {
    font-size: 62.5%;
    apple-font-smoothing: antialised; 
    khtml-font-smoothing: antialised; 
    webkit-font-smoothing: antialised; 
    font-smoothing: antialised;
}

body {
    font: 1.4rem/1.4em $font1;
    letter-spacing: 0.01em;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font2;
    margin: 0;
    font-weight: normal;
}

.h1 {
    font: 2.4rem/1.4em $font2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
}

.h2 {
    font: 1.8rem/1.4em $font2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
    a {
        border: 0;
    }
}

.h4 {
    font: 400 1rem/1.4em $font3;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #666;
}

.lead {
    font-size: 1.8rem;
    line-height: 1.4em;
    padding: 3rem 10%;
    margin-bottom: 4rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

blockquote {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 1rem 0 2rem;
    padding: 2rem 0 0 2rem;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.2em;
}