html {
    font-size: 62.5%;
    apple-font-smoothing: antialised; 
    khtml-font-smoothing: antialised; 
    webkit-font-smoothing: antialised; 
    font-smoothing: antialised;
}

body {
    font: 1.6rem/1.4em 'Futura';
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

i {

}