
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


$primary-color: #444;
$secondary-color: #666;

$font__primary: 'cardo', Georgia, serif;
$font__secondary: 'Oswald', arial, sans-serif;

$border: rgba(200,200,200,0.2);