
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


$primary-color: #444;
$secondary-color: #666;

$font1: 'cardo', Georgia, serif;
$font2: 'Oswald', arial, sans-serif;
$font3: 'Opan Sans', arial, sans-serif;

$border: rgba(200,200,200,0.2);
$border2: rgba(200,200,200,0.8);